

.post {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;

    background-color: white;
    border-radius: 2px;

}

.add-post {
    margin-top:100px;
    width: 100%;
    min-height: 100px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 5px;
}



#post-body {
    min-height: 200px !important;
    background-color: white!important;
    border: 1px solid grey;
    padding: 8px 10px;
    outline: none;
}

.error{
    border:1px solid #e82c0c!important;
    color:#e82c0c;

}



/* comments styles */

form.comment {
    display:none;
}






