

/* */


ul {
    list-style-type: none;
    padding-left:20px;
}



a {

    text-decoration: none;
    color:#404040

}

.user_comments{
    float:none!important;
}
/* header*/


.logo{
    background:url(../img/logo.png) no-repeat center top;
    height:120px;
    width:200px;
    /* text area width */
}

.health_head{
    padding-top:5%;
}


.health_p{
    font-family: Futura-Medium;
    font-size: 26px;
    color: #5F5D70;
    letter-spacing: 0.26px;
    text-align: center;
}



/* form*/


.input_email{
    background: url(../img/email.png) no-repeat   7px  #FBFAFF;
    padding-left:30px;
    border:none;
    border-radius: 0 0 2px 2px;
    height: 40px;

}

.input_pass{
    background: url(../img/lock.png) no-repeat   7px #FBFAFF;
    padding-left:30px;
    border:none;
    height: 40px;
    border-radius: 0 0 2px 2px;
}

.input_repass{
    margin-top:3%;
    background: url(../img/lock.png) no-repeat   7px #FBFAFF;
    padding-left:30px;
    border:none;
    height: 40px;
    border-radius: 0 0 2px 2px;
}

.input_login{
    background: url(../img/email.png) no-repeat   7px #FBFAFF;
    padding-left:30px;
    border:none;
    height: 40px;
    border-radius: 0 0 2px 2px;

}

.forget {
    margin-top:20px;

}

.button {
    background: #00CA9D;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 14px 2px 2px;
    border-radius: 100px;
    font-family: Futura-Medium;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 1.2px;
    line-height: 11px;
    width:100%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}





/* footer*/

.footer{
    padding-top:20%;
}
.register_footer{
    margin-top:40px;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.register_p {
    font-family: Futura-Medium;
    font-size: 15px;
    color: #9B99A9;
    letter-spacing: 0;
    text-align: center;

}

.register_register{
    font-family: Futura-Medium;
    font-size: 12px;
    color: #00CA9D;
    text-align: center;
}



.switch_button{
    color: #00CA9D!important;
    cursor:pointer;

    text-align:center;
    text-decoration: none;
}

switch_button:hover
{

    color:#0072ca;
    text-decoration:none;
    cursor:pointer;
}



/* work with form*/

.register{
    display:none
}




#registration{

}


/* error and success*/

.success
 {
    font-size: 0.8em;
    padding: 2px;
    color: #87bf0a;
    font-weight: 600;

}

.error{
    font-weight: 600;
    color:#e82c0c;

}


.content {
    flex: 3;

    min-height: 100px;
}




.pagination {
    margin-top:20px;
    margin-bottom:20px;
    display:block!important;
    font-size: 1.15em;
}


.new {
    float: left;
}


.main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

}


.img-container {
    height: 50px;
    border: 1px solid gray
}

img {
    height: 100%;
}






/*  profile page header desktop  */


.desktop_header{
    padding-left:1px!important;
    padding-right:1px!important;

}

.display-4{
    color:#fff;
    font-size: 2.5rem;
    float:left;
    padding:4px;
}

.header_desktop{
    color:#F0F0F0;
  height:100px;
    width:100%;
    font-family: Futura-Medium;
    background: #00CA9D;
}

.jumbotron{

    padding:1em!important;
}

.body_indexx{
    background:#edeef0;
}




/* navigation in profile*/

.sidenav {
    overflow: hidden;
    background-color: #fff;

}
.closebtn{
    display:none!important;
}

.sidenav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}
.hide{
    display:none;
}

.hi_user{
    float:right;
    font-size:26px;
    padding-top:12px;
}


.archive_p{
display:none;
}
.nav{
    display:none;
}

/* desktop menu*/
.desktop_sidenav{
    margin-top:-30px;
    position:relative;
    float:left;
    width: 180px;
    z-index: 1;
    top: 0;
    left: 0;
    font-family: nkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-weight:400;
    overflow-x: hidden;
    padding-top: 20px;
}

.desktop_sidebar{
    margin: 0 0 10px;
    font-size: 12.5px;
    cursor: pointer;

}

.li_icon{
    margin-right:8px;
}




.desktop_sidebar_li{
   padding:6px;

    font-size:14px;
}

.desktop_sidebar_li:hover{
    width:80%;
    background:#C0C0C0;
}


a:hover{
    text-decoration: none;
    color:inherit;
}

img{
    display:block;
    width:40%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.post:first-child{
    display:none;
}



/* body of posts */

.content{
    margin-top:-30px;
    margin-right:120px;
    margin-left:30px;
}


.post{
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /*   */
    background-color:#fff;
    margin-top:20px;
    border-radius: 5px;

}

.comments {
    font-size:24px;

}
.author{
    font-size:24px;
    margin-left:0.2%;
}

.author_a, .comments_a{
    font-weight: 600;
}

.old {
    font-weight: 700;
    border:2px solid #000;
    padding:5px;
    float:right;
}

.new{
    font-weight: 700;

    border:2px solid #000;
    padding:5px;
    float:left;
}

.comments{
    float:right;
}
/**/




/* welcome page*/

.welcome{
    text-align: center;
    display:block;
}

.welcome__content{
    margin-top:20px;
    text-align: center;
}

.madeby{
        display:none;
}


.created{
    color:darkgray;
    position:fixed;
    font-style: italic;
    padding-left:10px;
    right: 20px;
    bottom: 0;
    float:right;
    color: gray;
    text-align: right;
    paddig-left:10px;

}

@media screen and (max-width: 991.98px) {


    .content{
        margin-top:90px;
        margin-right:10px;
    }

    .desktop_nav{
        display:none;
    }
    .nav,.archive_p,.hi_user{
        display:block;
    }




    .sidenav a:not(:last-child) {display: none;}

    .closebtn{
        display:block!important;

    }
    .desktop_header{
        display:none;
    }
    .hide{
        display:block;
        position: fixed;

        top: 0;
        left: 0;

        color:#000;
        margin-top: 28px;
        margin-left: 25px;
    }

    .sidenav a.icon {
        float: left;
        display: block;

    }

    .sidenav{
        height: 100%;
        width:0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color:#fff;
        transition: 0.5s;
        overflow-x: hidden;


    }


    .health_profile{
        font-size:22px;
        font-weight: 500;
    }


    #cont{
      /*  border-bottom: 1px solid #B0B0B0;*/

    }


    .content{
        margin-top:90px;
    }




    .sidenav.responsive .icon {
        position: fixed;
        right: 0;
        top: 0;

    }
    .sidenav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }


    .desktop_header{
        display:none;
    }

    /* banner in profile*/

    .banner{
        position:relative;
        background:url('../img/rsz_banner.jpg') no-repeat;
        width:100%;
        height:21%;
    }

    .hi_user{
        position: absolute;
        bottom: 0;
        font-family: Futura-Medium;
        font-size: 16px;
        color: black!important;
        margin-left:10%;
    }


    .navigation {
       padding-top:25px;
    }

    .archive_head{
        margin-top:20px;
        font-size:20px;
        font-weight: 600;

    }

    .post{
        background-color:#F0F0F0;
        border:1px solid black;
        margin-top:20px;
    }

    .body_indexx{
        background:#fff;
    }
    img{
        width:100%;
        height:100%;}










    /* */



    .container_nav {
        position: fixed;
        top: 0;
        width: 100%;
        backgrond-color:red;
        border-bottom: 1px  solid  #B0B0B0;


    }

    .nav{
        position:fixed;
        background-color:#fff;
        border-bottom: 1px solid #B0B0B0;
        width:100%;
    }


    /* post page*/

    .post_title{
        text-align: center;
        font-size:20px;
        font-family: helvetica;

    }
    .post_title_color{
        color:#3CB371;
    }

    .post{
        margin-right: 3%;
        padding-top:5%;
        padding-left:2%;
        padding-right:2%;

    }

    .author{


    }



    .author_a, .comments_a{
        font-weight: 700;

    }





    .old {
        font-weight: 700;
        border:2px solid #000;
        padding:5px;
        float:right;
        margin-right: 2%;
    }

    .new{
        font-weight: 700;
        border:2px solid #000;
        padding:5px;
        float:left;
    }






}


.navigation{
    pointer:cursor;
}




@media (max-width: 767.98px) {
    .comments, .author_a, .author {
        font-size:21px;
    }

    .comments{
        float:right;
    }


    .user_comments{

        margin-top:-20px;
    }

    .welcome{
        text-align: center;
        display:block;
        margin-top:84px;
    }

    .welcome__content{

        text-align: center;
    }

    .madeby{
        float:right;
    }



}






