<%  include ../layout/header.ejs%>

<link rel = "stylesheet" href = <%= assetFingerprint('/stylesheets/comments.css') %>


</head>


<body class = "body_indexx">


<!-- all posts -->

<% include ../layout/banner.ejs%>
<div class = "main_nav">
    <div class = "nav">
        <%  include ../layout/nav.ejs%>
    </div>
</div>


<div class="main">

    <div class = "desktop_nav">
        <% include ../layout/desktopNav.ejs%>
    </div>
    <div class="content content_help">
        <h5 class = "h5_help">Below you'll find answers to the questions we get asked.</h5>

            <div class = "list_questions">

            <div class = "head">

                        <div class = "parent_question">Why can’t I sign in?</div>
                        <div class = "children_question children">

                            First, you can try the easiest options:
                        <ul>

                            <li>If your password isn’t working, make sure Caps Lock is turned off and your email address is spelled correctly. </li>

                            <li>Clear your browser history, or try signing in to your account from a different internet browser.</li>

                        </ul>

                            <br>
                            <p>
                                If these solutions don't get you back in to your account we recommend starting with resetting your password.
                            </p>

                        </div>

            </div>

                <div class = "head">

                    <div class = "parent_question">How to post?</div>
                    <div class = "children_question children">

                        <ul>
                            <li>
                                1. Sign in to your account
                            </li>

                            <li>
                                2. Find item called  <em>'Write a post'</em>  in the navigation menu
                            </li>

                            <li>
                                3. Go to this page and then press <em>'PUBLISH'</em>
                            </li>
                        </ul>
                    </div>

                </div>


                <div class = "head">

                    <div class = "parent_question">How to edit my posts?</div>
                    <div class = "children_question children">

                        <ul>
                            <li>
                                1. Sign in to your account
                            </li>

                            <li>
                                2. Find item called  <em>'My stories'</em>  in the navigation menu
                            </li>

                            <li>
                                3. Go to this page and then press <em>'✎'</em> near post title
                            </li>
                        </ul>
                    </div>

                </div>


                <div class = "head">

                    <div class = "parent_question">Requirements for images</div>
                    <div class = "children_question children">

                        <ul>
                            <li>
                                1. Image should be PNG or JPG
                            </li>

                            <li>
                                2. Image should not be more than 1MB
                            </li>


                        </ul>
                    </div>

                </div>



            </div>
        </div>
    <p class = "created"> Created by Martyniuk Bohdan</p>

</div>
</body>


<%  include ../layout/footer%>
