<%  include ../layout/header.ejs%>

<link rel = "stylesheet" href = <%= assetFingerprint('/stylesheets/comments.css') %>


</head>


<body class = "body_indexx">


<!-- all posts -->


</body>


<%  include ../layout/footer%>
