
<div class ="desktop_header col-lg-12">

    <div class="jumbotron jumbotron-fluid header_desktop">


        <div class="container col-lg-9">

            <h6 class="display-4">Healthy Lifestyle</h6>
            <p class = "hi_user">
                Hello  <%= user.login %>
            </p>
        </div>
        <div class = "logo col-lg-2"></div>

    </div>




</div>

