<!--  hat of website-->






<div class = "desktop_sidenav">



                <ul class = "desktop_sidebar">

                    <li class = "desktop_sidebar_li">


                        <a href="/users/<%= user.login %>">
                            <span class = "li_icon"><i class="fas fa-book"></i> </span>   <span>My stories </span></a>

                    </li>


                    <li class = "desktop_sidebar_li">
                      <a href="/post/add">
                            <span class = "li_icon">

                        <i class="fas fa-plus-circle"></i>
                            </span>Write  a post</a>
                    </li>

                    <li class = "desktop_sidebar_li">
                        <a href="/archive/1">
                            <span class = "li_icon"><i class="far fa-paper-plane"></i></span>  All posts</a>
                    </li>
                    <li class = "desktop_sidebar_li">
                        <a href="/help">  <span class = "li_icon">  <i class="fas fa-question-circle"></i>
                            </span>Help</a>
                    </li>

                    <li class = "desktop_sidebar_li">

                        <a href="#">
                                <span class = "li_icon">
                            <i class="fas fa-cog"></i>
                          </span>Settings</a>
                    </li>


                    <li class = "desktop_sidebar_li">

                        <a href="/api/auth/logout">

                                    <span class = "li_icon">
                            <i class="fas fa-sign-out-alt"></i>
                                    </span>
                                        Logout</a>

                    </li>
                </ul>
            </div>




